body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /*max-width: 38rem;*/
  padding: 2rem;
}

/* https://coder-coder.com/display-divs-side-by-side/ */
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* no border tables */
table.noBorder{
  border:none;
}

table.noBorder tr{
  border:none
}

table.noBorder tr td{
  border:none
}

table.noBorder th{
  border:none
}

/* Alternating Colour Tables */

table.multiColour{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.multiColour td, table.multiColour th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.multiColour tr:nth-child(even) {
  background-color: #dddddd;
}